{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "arrow-parens": 0,
    "react/no-unused-prop-types": [2, {"skipShapeProps": true}],
    "no-underscore-dangle": ["error", { "allow": [ "_id", "_sleepForMs" ] }]
  }
}
